body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 1;
    background: #00040f;
}
h2{
    color: rebeccapurple;
}
label{
    color:aliceblue;
    padding-right: 8px;

}

#icons{
    width: 25px;
    height: 25px;
}